<div class="container">
  <div class="row text-center">
    <h1 style="font-weight: 100px;" appText></h1>
    <!-- <check-home [childHome]="childTitle"></check-home> -->
  </div>
  <div id="css-btn" class="row text-center">
    <a class="" (click)="gotoGoogle()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Go to Google
    </a>
    <a class="" type="" (click)="goToSpecificUrl('https://www.facebook.com/')">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Open URL
    </a>
    <a class="" (click)="goToGroup()">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Go to Group
    </a>
  </div>
</div>
